.git

# venvs
.env/
.venv/
env/
venv/

# IDE and cache
__pycache__/
.idea/
.vscode
.ruff_cache

# PyInstaller
build/
dist/
*.manifest

# Project files
trash/

src/config.json
config.json
app_icon.ico
todo.log
error_log.txt
notes.txt
