.git

# venvs
.env/
.venv/
env/
venv/

# IDE PyCharm and VS Code stuff
__pycache__/
.idea/
.vscode

# PyInstaller
build/
dist/
*.manifest
*.spec

# Project files
trash/

config.json
app_icon.ico
todo.log